<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="space.x9x.demo.infrastructure.dao.mysql.IRaffleActivityMapper">


    <select id="pagesXml" resultType="space.x9x.demo.infrastructure.dao.po.RaffleActivityPO">
        SELECT *
        FROM raffle_activity
    </select>
</mapper>